<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4 text-white">

<form action="/updateProfesores/{{profesor._id}}" method="POST">
  <h4>Actualizar Profesor</h4>
  <div>
    <label for="rfc">Modificar el RFC</label>
    <input type="text" name="rfc" placeholder="RFC" value="{{profesor.rfc}}" 
    class="form-control bg-dark text-white"/>
  </div>
  <br />
  <div>
    <label for="nombre">Modificar Nombre</label>
    <input
      type="text"
      name="nombre"
      placeholder="Name"
      value="{{profesor.nombre}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="paterno">Modificar Apellido</label>
    <input
      type="text"
      name="paterno"
      placeholder="Last Name"
      value="{{profesor.paterno}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="materno">Modificar Apellido Materno</label>
    <input
      type="text"
      name="materno"
      placeholder="Mother´s Last Name"
      value="{{profesor.materno}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="fechaNac">Modificar la Fecha de Nacimiento</label>
    <input
      type="Date"
      name="fechaNac"
      placeholder="Birthdate"
      value="{{profesor.fechaNac}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="celular">Modificar el Num. Telefonico</label>
    <input
      type="text"
      name="celular"
      placeholder="Phone Number"
      value="{{profesor.celular}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="direccion">Modificar la Direccion</label>
    <input
      type="text"
      name="direccion"
      placeholder="Addres"
      value="{{profesor.direccion}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="profesion">Modificar la Profesion</label>
    <input
      type="text"
      name="profesion"
      placeholder="Profession"
      value="{{profesor.profesion}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <div>
    <label for="numEmpleado">Modificar el Num. Empleado</label>
    <input
      type="text"
      name="numEmpleado"
      placeholder="Employee Number"
      value="{{profesor.numEmpleado}}"
      class="form-control bg-dark text-white"
    />
  </div>
  <br />
  <button class="btn btn-success">Actualizar</button>
  <a href="/profesor/agregar" class="btn btn-info">Regresar</a>
</form>