<div class="col-md-3">
  <div class="card card-body p-4 rounded-0 bg-secundario text-white">
    <h3 class="text-center text-dark">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="35" fill="currentColor" class="bi bi-person-plus-fill"
        viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
      </svg> ACTUALIZAR PROFESOR
    </h3>
    <form action="/updateProfesores/{{profesor._id}}" method="POST">
      <h4>
        <div>
          <label for="rfc" class="text-dark">RFC: </label>
          <input type="text" name="rfc" placeholder="RFC" value="{{profesor.rfc}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="nombre" class="text-dark">Nombre(s): </label>
          <input type="text" name="nombre" placeholder="Name" value="{{profesor.nombre}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="paterno" class="text-dark">Apellido Paterno: </label>
          <input type="text" name="paterno" placeholder="Last Name" value="{{profesor.paterno}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="materno" class="text-dark">Apellido Materno: </label>
          <input type="text" name="materno" placeholder="Mother´s Last Name" value="{{profesor.materno}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="fechaNac" class="text-dark">Fecha de Nacimiento: </label>
          <input type="Date" name="fechaNac" placeholder="Birthdate" value="{{profesor.fechaNac}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="celular" class="text-dark">Num. Telefónico: </label>
          <input type="text" name="celular" placeholder="Phone Number" value="{{profesor.celular}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="direccion" class="text-dark">Dirección: </label>
          <input type="text" name="direccion" placeholder="Addres" value="{{profesor.direccion}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="profesion" class="text-dark">Profesión: </label>
          <input type="text" name="profesion" placeholder="Profession" value="{{profesor.profesion}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />
        <div>
          <label for="numEmpleado" class="text-dark">Num. Empleado: </label>
          <input type="text" name="numEmpleado" placeholder="Employee Number" value="{{profesor.numEmpleado}}"
            class="form-control bg-white text-dark" />
        </div>
        <br />

        <div class="text-center">
          <button class="btn ov-btn-grow-ellipse1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
              <path
                d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z" />
            </svg>
          </button>
          <a href="/profesor/agregar" class="btn ov-btn-grow-ellipse2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
              class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
          </a>
      </h4>
    </form>
  </div>
</div>